.navbar-brand {
	padding-top: 12px;
}

.panel-default {
	margin-left: 10px;
	margin-right: 10px;
}

.impacta-link-panel {
	float: right;
	padding: 0px;
}

.impacta-titulo-panel {
	float: left;
	padding-top: 2px;
}

span.error {
	color: red; 
}